@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header{
    background-color: black;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 200px;
}
 
.logo{
    text-decoration: none;
    color: red;
    font-weight: 800;
    font-size: 1.8em;
}

.navigation a{
    color: red;
    text-decoration: none;
    font-size: 1.4em;
    font-weight: 500;
    padding-left: 35px;
}

.navigation a:hover{
    color: greenyellow;
}

.main{
    padding: 100px 200px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(pyramid.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.main h2{
    color: greenyellow;
    font-size: 2em;
    font-weight: 600;    
}

.title{
    display: flex;
    justify-content: center;
    color: red;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}
 
.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 20px 20px;
}

.content p{
    margin:10px 30px;
    font-size: 1.2em;
    font-weight: 500;
}
 
.theEnter{
    margin: 40px 40px;
    font-size: 2em;
}

.enterPhoto{
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    width: 500px;
    background-image: url("enter.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position:center ;
    
}

.enterIntroduction{
    margin: 40px 60px;
    font-size: 1.3em;
    font-weight: 500;
}

.insidePhotos{
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    width: 500px;
    background-image: url("inside.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position:center ;
}    

.insidep{
    margin: 40px 60px;
    font-size: 1.3em;
    font-weight: 500;
}

.khafre{
    background-color: lightskyblue;
    flex-direction: column;
    font-size: 1.3em;
    font-weight: 500;
}

.Size{
    margin: 40px 60px;
    font-size: 1.3em;
    font-weight: 500;
    padding-bottom: 30px;
}

.Khufu{
    flex-direction: column;
    font-size: 1.3em;
    font-weight: 500;
}

.Menkaure{
    background-color: black;
}
.Menkaure p{
    color: aliceblue;
}
.Menkaure div{
    color: aliceblue;
}

.age{
    margin: 40px 60px;
    font-size: 1.3em;
    font-weight: 500;
    padding-bottom: 30px;
}

.footer{
    background-color:#3a6cf4;
    color:white;
    padding:1em 1em;

  }

  .footer-title{
    font-size:1.3em;
    font-weight:600;
  }
  .footer-title span{
    color:#BB4A4A;
  }
.footer-title span:hover{
  color:yellow;
}